.Navbar {
  width: 100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.2);
  transition: background-color 0.5s;
  &.not-home{
    position: relative;
    margin-bottom: 50px;
  }
  &.scrolled {
    background-color: rgb(8, 0, 58, 1);
    transition: all 0.5s;
  }

  .Navbar-left {
    flex: 3;
    text-align: center;
  }
  .Navbar-center {
    flex: 6;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    &:hover {
      color: rgb(193, 21, 21);
      transition: all 0.3s;
    }
    &.active {
      color: rgb(193, 21, 21);
    }
  }
  .Navbar-right {
    flex: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 30px;
    }
    span {
      font-size: 14px;
    }
  }
}
